/* center elements, make mobile friendly, mess with colors, set font to arial, make team recommendation visually match other elements */

* {
    text-align: center;
    color: #423781;
    border-radius: 6px;
}

body {
    background-image: url("../pvpokemon bg.png");
    background-size: 111vh;
}

#open-type-chart {
    display: inline-block;
    text-align: left;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
    margin-top: 20vh;
}